<%- include('../partials/capataz-head', { titulo: 'Alow · Selecione seu perfil' }) %>

<main class="celular">
  <div class="perfil">
    <img class="perfil__logo" src="/assets/logo-agro-flow.svg" alt="AgroFlow" />

    <p class="perfil__legenda">Você está registrado como</p>
    <h1 class="perfil__nome">Daniel Carvalho<br />seu perfil</h1>

    <div class="perfil__card">
      <p class="perfil__confirme">Confirme seu acesso para continuar</p>
      <div class="avatar">DF</div>
      <span class="perfil__usuario">Daniel Carvalho</span>
      <a href="/capataz/home" class="btn-primario">Entrar</a>
    </div>

    <span class="perfil__versao">v1.0.0</span>
  </div>
</main>

</body>
</html>
